.card {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  height: 45vw;
  max-height: fit-content;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  font-size: 1.25vw;
}

.card ul {
  height: 15vw;
}

.card hr {
  margin-left: 10px;
  margin-right: 10px;
}

.topbar {
  height: fit-content;
}

.topbar img {
  aspect-ratio: 1;
  float: left;
  width: 15vw;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.bio {
  margin-left: 10px;
  margin-right: 10px;
}

h2 {
  text-align: center;
}