body {
  background-color: rgb(10, 10, 10);
}

div {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Black.png/250px-Black.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150vmin 100%;
}

div a {
  margin: 5px;
}

.card {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 50%;
  height: 45vw;
  min-height: 300px;
  max-height: fit-content;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  font-size: calc(5px + 1.1vw);
}

.card ul {
  height: 15vw;
}

.card hr {
  margin-left: 10px;
  margin-right: 10px;
}

.discography {
  margin-left: auto;
  margin-right: auto;
  min-width: 400px;
  max-width: 50%;
  max-height: fit-content;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  font-size: calc(5px + 1.1vw);
}

.topbar {
  min-height: 125px;
  height: fit-content;
}

.topbar img {
  float: left;
  min-width: 100px;
  min-height: 100px;
  width: 15vw;
  height: 15vw;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.bio {
  margin-left: 10px;
  margin-right: 10px;
  height: 15vw;
}

h2 {
  font-size: calc(5px + 1.2vw);;
  text-align: center;
}

h3 {
  margin-left: 10px;
  font-size: calc(5px + 1.15vw);;
}

a {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2.25vmin;
}