.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
}

.gallery img {
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 5px;
    max-width: 14vw;
    max-height: 14vw;
    margin-top: auto;
    margin-bottom: auto;
}

.fridge {
    background-image: url(/Art/fridge.jpg);
    background-size: 80% 100vw;
    background-repeat: no-repeat;
    background-position: center;
}