.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  row-gap: 10px;
}

.gallery img {
    margin: auto;
    max-width: 90%;
    max-height: 13.5vw;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.fridge {
    background-image: url(/Art/fridge.jpg);
    background-size: 80% 100vw;
    background-repeat: no-repeat;
    background-position: center;
}