body {
  background-color: black;
  color: white;
  font-family: 'Lucida Console', 'Times New Roman';
  font-size: 2.5vmin;
}

button {
  background-color: rgb(147, 139, 223);
  border-style: solid;
  border-width: 1px;
  border-radius: 15%;
  border-color: white;
  color: white;
  padding: 10px;
}

button:hover {
  background-color: rgba(147, 139, 223, 0.733);
}

button:active {
  background-color: rgb(167, 160, 231);
}

.homepage {
  background-image: url(/Art/bg.png);
  background-attachment: fixed;
}

.menu {
  background-image: url(/Art/bg.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125vmin 100%;
  padding-bottom: 20px;
}

.header {
  text-align: center;
  margin: auto;
  max-width: 45%;
}

.header h2 {
  font-size: calc(5px + 1vw);
}

.header h3 {
  font-size: calc(2px + 0.9vw);
}

#logo {
  min-width: 200px;
  min-height: 100px;
  max-width: 25vw;
  max-height: 25vw;
}

#group-photo {
  display: block;
  position: static;
  margin: auto;
  min-width: 325px;
  max-width: 60%;
  max-height: 60%;
}

.bar {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 50%;
}

.bar ul {
  list-style-type: none;
}

.bar li {
  padding: 2px;
  display: inline;
}

.section-divider {
  color: grey;
  max-width: 25%;
}

.backbtn {
  text-align: center;
  padding: 10px;
}

a {
  color: lightskyblue;
}

a:hover {
  color: lightblue;
}

a:active {
  color: deepskyblue;
}