body {
    background-image: url(https://f4.bcbits.com/img/a2341803756_16.jpg);
    background-size: 50%;
    background-blend-mode: difference;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: grey;
    font-size: 2.5vmin;
}

div {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(65, 65, 65);
}

a {
    color: rgb(175, 175, 175);
}

a:hover {
    color: rgb(200, 200, 200)
}

a:active {
    color: rgb(150, 150, 150);
}

p {
    padding-left: 10px;
    padding-right: 10px;
}

h1, h2, h3 {
    padding: 10px;
}

.back_btn {
    background-color: rgba(0, 0, 0, 0.5);
    border-style: none;
    width: fit-content;
    margin: 10px;
}

#homehead {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    max-width: 80%;
    min-width: 450px;
    display: block;
}

.home-photo {
    aspect-ratio: 1;
    min-width: 100px;
    width: 37%;
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.center {
    width: 80%;
    min-width: 450px;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    padding-top: 10px;
}

.subsection {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    height: auto;
}

.links {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  column-gap: 20px;
  text-align: center;
}

.links img {
    aspect-ratio: 1 / 1;
    min-width: 75px;
    width: 10vw;
    margin-top: 10px;
}

.links p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-width: 75px;
    max-width: 10vw;
    margin-top: 0px;
    size: 10vw;
}

.log {
    width: 80%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.log h2, h3 {
    background-color: rgb(50, 50, 50);
}

#creature-container {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 75%;
    max-width: 75%;
    height: fit-content;
}

#creature-container img {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#creatures-list {
    background-color: rgb(90, 90, 90);
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 25%;
    max-width: 25%;
    height: fit-content;
}

#creatures-list p:hover {
    text-decoration: underline;
}

#id-photo {
    aspect-ratio: 1;
    width: 20vw;
    max-width: 20vw;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    float: left;
}