.gallery {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: auto;
  margin-right: auto;
  min-width: 350px;
  max-width: 60%;
  row-gap: 10px;
}

.gallery img {
    margin: auto;
    max-width: 95%;
    max-height: 15vw;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.gallery img:hover {
  transform: scale(1.05, 1.05);
}

#fridge {
    background-image: url(/Art/fridge.jpg);
    background-attachment: fixed;
    background-size: 80% 150%;
    background-repeat: no-repeat;
    background-position: center;
}

#art-gallery {
  background-image: url(/Art/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 125vmin 100%;
}

#img-viewer {
  display: none;
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
}

#nav-buttons {
  width: 100%;
  top: 92%;
  position: absolute;
}

#img-viewer img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 37vw;
  min-width: 400px;
  max-block-size: 80%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}